[Desktop Entry]
Type=Application
Name=Matui (Flatpak Beta)
Comment=Music Assistant controller and local speaker
Exec=matui
Icon=audio-speakers
Terminal=true
Categories=AudioVideo;Audio;Player;
Keywords=Music;Assistant;Sendspin;
